@import url(https://fonts.googleapis.com/css?family=Bangers);

.bannner{
    position: relative;
    height: 648px;
    color: white;
    width: 100%;
    object-fit: contain;
    // z-index: 11;
}

  .banner_content{
    position: relative;;
    margin-left: 30px;
    padding-top: 140px;
    height: 200px;
  }
  .banner_tittle{
    font-size: 5rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }


  .banner_description{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    max-width: 560px;
    height: 80px;
  }

  .banner-fade{
    height: 19.24rem;
    background-image: linear-gradient(180deg, transparent ,rgba(37,37,37,0.41), #111 );
    // background: rgb(36,2,0);
    // background: linear-gradient(180deg, rgba(36,2,0,1) 0%, rgba(85,16,16,1) 100%);   
  }

  .banner_button{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    height: 40px;
    // width: 100px;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: rgba(51,51,51,0.5);
    padding-bottom : 0.5rem ;
  }

  .banner_button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.4s;
  }


  
@media screen and (max-width: 820px){

  .banner_content{
    position: relative;;
    margin-left: 15px;
    padding-top: 140px;
    height: 200px;
  }


  .banner_tittle{
    font-size: 2.7rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }

  .banner_description{
    width: 90%;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    max-width: 560px;
    height: 80px;
  }


}




@media screen and (max-width: 820px){

    .bannner{
    position: relative;
    height:548px;
    color: white;
    width: 100%;
    object-fit: contain;
    // z-index: 11;
}



.banner_button{
 
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51,51,51,0.5);
  padding-bottom : 0.5rem ;
}

.banner_content{
  position: relative;;
  margin-left: 10px;
  padding-top: 190px;
  height: 200px;
}
.banner_tittle{
  font-size: 2.5rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}


.banner_description{
  width: 45rem;
  font-family: 'Bangers';
  margin-top: 10px;
  font-weight: 100;
  word-spacing: 2px;
  letter-spacing: 1.2px;
  line-height: 1.5;
  padding-top: 1rem;
  font-size: 1rem;
  max-width: 80%;
  height: 80px;
}

.banner-fade{
  height: 10.04rem;
  background-image: linear-gradient(180deg, transparent ,rgba(37,37,37,0.91), #111 );
  // background: rgb(36,2,0);
  // background: linear-gradient(180deg, rgba(36,2,0,1) 0%, rgba(85,16,16,1) 100%);   
}


}