.nav{
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height :40px;
    z-index: 2;
    transition-timing-function:ease-in;
    transition: all 0.5s;
}

.nav_content{
    display: flex;
    justify-content: space-between;
}
.nav-logo{
    position: fixed;
    top: 0px;
    left: 0;
    height: 5rem;
    width: 12rem;
    margin: 0 0 0 12px ;
    padding: 1px 0 0 ;  
    cursor: pointer;
}
.nav-avatar{
    position: fixed;
    right: 1.3rem;
    width: 45px;
    height: 45px;
    margin: -5.8px  0 0 12px ;
    padding: 0px 0 0 ;  
    cursor: pointer;
}

.nav_black{

    background-color: #111;
}


@media screen and (max-width: 820px){

    
    .nav{
        position: fixed;
        top: 0;
        padding: 20px;
        width: 100%;
        height :30px;
        z-index: 2;
        transition-timing-function:ease-in;
        transition: all 0.5s;
    }
    
   

.nav-logo{
    position: fixed;
    left: 0;
    height: 3.5rem;
    width: 9rem;
    margin: 0 0 0 2px ;
    padding: 4px 0 0 ;  
}
.nav-avatar{
    position: fixed;
    right: 1.3rem;
    width: 35px;
    // top: -0.01px;
    height: 35px;
    margin: 0px 0 0 12px ;
    padding: 0px 0 0 ;  
}

}


.nav-avatar{
//     width: 45px;
//   height: 45px;
  border-radius: 50%;
  border: 2px solid #cddc39;
  filter: drop-shadow(0 0 8px #ff5722);
}

.userName{
    display: none;
    position: absolute;
    right: 8rem;
font-weight: 200;

cursor: pointer;
}

@import url(https://fonts.googleapis.com/css?family=Lobster);