.row
{
    color: white;
    margin-left: 25px;;

}


.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_posters::-webkit-scrollbar{
    display: none;
}


.row_poster{
    max-height: 100px;
    object-fit: contain;
    margin-right: 9px;
    width: 100%;
    transition: transform 450ms;   
}


.row_poster:hover{
    transform: scale(1.1);
    opacity: 1;

}


.row_posterLarge{
    max-height: 200px;
    
}

.row_posterLarge:hover{
    transform: scale(1.2);
    opacity: 1;

}



@media screen and (max-width: 820px){

    
    .row
    {
        color: white;
        margin-left: 10px;;
    
    }



    .row_posters{
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 20px 10px;
    }

}

