*{
  margin: 0 ;
  padding: 0;
}
.App{
  background-color: #111;
  /* height: 100vh; */
}

body {
  /* overflow: hidden; Hide scrollbars */
  background-color: #111;
}


::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style:none;
}